.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
}
.logo {
    width: 50px;
    padding: 10px;
}
.nav-items {
    display: flex;
    align-items: center;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li {
    padding: 0 20px;
    font-size: 18px;
    font-family: Graphik;
    color: #000;
}
.res-cards {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    position: absolute;
    top: 150px;
    gap: 2%;
    row-gap: 2vh;
}
.res-card{
    border: 1px solid #000;
    width: 18%;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.res-card-image-container{
    position: relative;
    filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
    height: 200px;
    overflow: hidden;
}
.res-card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.filter{
    position: absolute;
    top: 90px;
    left: 22px;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 18px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(2, 6, 12, 0.15);
    padding: 8px 12px;
    width: auto;
    cursor: pointer;
    box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
    transition: background-color 0.1s ease-in, border-color 0.1s ease-in, box-shadow 0.1s ease-in, width 0.2s cubic-bezier(0.65, 0, 0.35, 1);
}
.filter-btn {
    letter-spacing: -.3px;
    color: #02060cbf;
    font-family: Graphik;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    border: none;
    background: none;
    cursor: pointer;
}
.res-card-details {
    height: 200px;
    padding: 10px;
}
.res-card-details h2{
    margin: 0px;
    font-family: Graphik;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.92);
    overflow: hidden;
    width: 100%;
    overflow-wrap: break-word;
}
.res-card-details p{
    font-family: Graphik;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    overflow: hidden;
    width: 100%;
    overflow-wrap: break-word;
}